<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Home</title>
<!-- core CSS -->
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="static/css/animate.min.css" rel="stylesheet">
<link href="static/css/owl.carousel.css" rel="stylesheet">
<link href="static/css/owl.transitions.css" rel="stylesheet">
<link href="static/css/prettyPhoto.css" rel="stylesheet">
<link href="static/css/magnific-popup.css" rel="stylesheet">
<link href="static/css/gallery-1.css" rel="stylesheet">
<link href="static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="static/js/html5shiv.js"></script>
<script src="static/js/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="static/images/ico/favicon.ico">
</head>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
<script>
	function display(data)
	{
  	var d = JSON.parse(data);
  	var s = '<form action="/setSketchPara" method="POST">'
    s += '<table border="1"><tr></tr>';
   	for (var i = 0; i < d.sketchArray.length; i++)
   	{
		  s += '<tr><td>' +d.sketchArray[i].name+  '</td>';
        for (var j = 0;j<d.sketchArray[i].parameterNum;j++)
        {

       		var n = d.sketchArray[i].name;
       		var p = d.sketchArray[i].parameterList[j];
       		var low = n+"_"+p+"_"+"lowerbound"
       		var high = n+"_"+p+"_"+"upperbound"
       		var interval = n+"_"+p+"_"+"interval"
       		s += '<td>'+low+'<input type="text" name='+low +'></td>'
       		s += '<td>'+high+'<input type="text" name='+high +'></td>'
       		s += '<td>'+interval+'<input type="text" name='+interval +'></td>'

        }
         s += '</tr>'

    }
    s += '</table>'
    s += '<input type="submit" value="提交"/>'
    s += '</form>'
    return s
    }
</script>
<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SketchBench</a>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</header><!--/header-->


<body>
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<!--Post请求-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<div id="dv" align="center"></div>
<script>
    var data={
        'name':'kikay',
        'age':18
    }
    $.ajax({
        type:'POST',
        url:'/sketchParaShow',
        data:data,
        dataType:'json',//希望服务器返回json格式的数据
        success:function(data){
             var data = JSON.stringify(data)
             var s = display(data)
			 $('#dv').html(s)
        }
    });

</script>
</body>


</html>