<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Home</title>
<!-- core CSS -->
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="static/css/animate.min.css" rel="stylesheet">
<link href="static/css/owl.carousel.css" rel="stylesheet">
<link href="static/css/owl.transitions.css" rel="stylesheet">
<link href="static/css/prettyPhoto.css" rel="stylesheet">
<link href="static/css/magnific-popup.css" rel="stylesheet">
<link href="static/css/gallery-1.css" rel="stylesheet">
<link href="static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="static/js/html5shiv.js"></script>
<script src="static/js/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="static/images/ico/favicon.ico">
</head>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
<script>
	function display(data)
	{
  	var d = JSON.parse(data);
  	var s = '<form action="/draw" method="POST">'
  	var id =0
   	for (var i = 0; i < d.numOfLines; i++)
   	{
        for (var j = 0;j<d.numOfXinterval;j++)
        {
			s += 'Line'+(i+1)+'Point'+(j+1)
			s += '<br><select name=' + id +' id='+id+'>'
  			for (var k = 0;k<d.fileList.length;k++){
  			s+='<option value='+d.fileList[k]+'>'+d.fileList[k]+'</option>'
  			}
    		s += '</select></br>'
    		id += 1
        }

    }
    s += '<input type="submit" value="提交"/>'
    s += '</form>'
    return s
    }
</script>
<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SketchBench</a>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</header><!--/header-->


<body>
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<!--Post请求-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<div id="dv" align="center"></div>
<script>
    var data={
        'name':'kikay',
        'age':18
    }
    $.ajax({
        type:'POST',
        url:'/choosingDrawPoint',
        data:data,
        dataType:'json',//希望服务器返回json格式的数据
        success:function(data){
             var data = JSON.stringify(data)
             var s = display(data)
			 $('#dv').html(s)
        }
    });

</script>
</body>


</html>