<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Home</title>
<!-- core CSS -->
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="static/css/animate.min.css" rel="stylesheet">
<link href="static/css/owl.carousel.css" rel="stylesheet">
<link href="static/css/owl.transitions.css" rel="stylesheet">
<link href="static/css/prettyPhoto.css" rel="stylesheet">
<link href="static/css/magnific-popup.css" rel="stylesheet">
<link href="static/css/gallery-1.css" rel="stylesheet">
<link href="static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="static/js/html5shiv.js"></script>
<script src="static/js/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="static/images/ico/favicon.ico">
</head>

<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SkechBench</a>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</header><!--/header-->


<body>

<section id="services" >
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Dataset</h2>
			<p class="text-center wow fadeInDown"><br>please select a datataset </p>
		</div>

		<div class="row">
			<div class="features">
              <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
					<div class="hexagon">
					  <div class="inner">
						<i class="fa fa-line-chart"></i>
					  </div>
					</div>
						<div class="media-body">
							<h4 class="media-heading"><a class="button" href="/dataset">Existing Dataset</a></h4>
							<p>You can choose some real-world dataset from here </p>
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
					<div class="hexagon">
					  <div class="inner">
						<i class="fa fa-line-chart"></i>
					  </div>
					</div>
						<div class="media-body">
							<h4 class="media-heading">Generate Dataset</h4>
							<p>You can generate some dataset use this button</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</section><!--/#services-->

<section id="services" >
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Runtime</h2>
			<p class="text-center wow fadeInDown"><br>please select a sketch</p>
		</div>

		<div class="row">
			<div class="features">
              <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
					<div class="hexagon">
					  <div class="inner">
						<i class="fa fa-line-chart"></i>
					  </div>
					</div>
						<div class="media-body">
							<h4 class="media-heading"><a class="button" href="/sketch">Existing Sketch</a></h4>
							<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
					<div class="hexagon">
					  <div class="inner">
						<i class="fa fa-line-chart"></i>
					  </div>
					</div>
						<div class="media-body">
							<h4 class="media-heading"><a class="button" href="/uploadNewSketch">Upload New Sketch</a></h4>
							<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</section><!--/#services-->

<section id="services" >
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Analysis</h2>
			<p class="text-center wow fadeInDown"><br>please select a datataset </p>
		</div>

		<div class="row">
			<div class="features">
              <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
					<div class="hexagon">
					  <div class="inner">
						<i class="fa fa-line-chart"></i>
					  </div>
					</div>
						<div class="media-body">
							<h4 class="media-heading"><a class="button" href="/graph">Drawing Graph</a></h4>
							<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
					<div class="hexagon">
					  <div class="inner">
						<i class="fa fa-line-chart"></i>
					  </div>
					</div>
						<div class="media-body">
							<h4 class="media-heading">Generate Dataset</h4>
							<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
						</div>
					</div>
				</div><!--/.col-md-4-->

			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</section><!--/#services-->

</body>


</html>